<a href="https://colab.research.google.com/github/Vaishnavi80090/Python-Tutorials-/blob/main/README.Decision_Making_and_Loops_Learner.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Decision Making
Decision making in python is done using conditional statements to control the flow of execution of program

## if statement
Program will evaluate the condition followed by if statement, if given condition is true, program will execute the block of code indented below if statement, if false it will move to next block of code.



```
#syntax of if statement
if test expression:
   statement 1
   ....
   statement n
```

In [19]:
## Write a Conditional Statement with True in if statement 
x=input("enter the sentence")
if x=="A":
  print("Apple")
else:
  print("donkey")

enter the sentenceA
Apple

In [21]:
## Write a Conditional Statement with False in if statement 
a=input("enten the statement")
if a=="starplus":
  print("its my on the way")
else:
  print("its off the way")

enten the statementemagine
its off the way

In [23]:
## Write a Conditional Statement with 1 in if statement 
x=int(input("enter the value"))
if x==1:
  print("its ok")
else :
  print("its not okh")

enter the value1
its ok

In [25]:
## Write a Conditional Statement with 0 in if statement 
t=0
if t==0:
  print("its false")
else:
  print("its true")

its false

In [26]:
## Write a Conditional Statement with -1 in if statement 
y=-1 
if y==-1:
  print("its y")
else:
  print("its n")

its y

In [27]:
## Write a Conditional Statement to check if 60 is greater than 50
t=int(input("enter the value"))
if t>50:
  print("its accurate")
else:
  print("its lesser")

enter the value34
its lesser

In [29]:
# check if variable a which is of integer 60 is greater than variable b which is of 50
a=int(input("enter the num"))
b=int(input("enter the num"))
if a>b:
  print("a is greater than b")
else:
  print("a is lesser than b")

enter the num75
enter the num50
a is greater than b

In [32]:
# check if variable a which is of integer 60 is greater than variable b which is of 150
a=int(input("enter the num"))
b=int(input("enter the num"))
if a>b:
  print("a is greater than b")
else:
  print("a is lesser than b")

enter the num60
enter the num150
a is lesser than b

In [35]:
## From the list if 10 is part of it
l = [10, 20, 30, 'Relevel']
for i in l:
  if i==10:
    print(l)

[10, 20, 30, 'Relevel']

In [40]:
## Check if 'Maharashtra' is in the Dict
cities = {'Maharashtra': 'Mumbai', 'Tamil Nadu': 'Chennai', 'Rajasthan': 'Jaipur', 'Punjab': 'Chandigarh', 'Haryana': 'Chandigarh'}
for i in cities.keys():
  if i=='Maharashtra':
          print(list(cities.keys()))

['Maharashtra', 'Tamil Nadu', 'Rajasthan', 'Punjab', 'Haryana']

## If else statement

Program will evaluate the condition followed by if statement, if given condition is true, program will execute the block of code indented below if statement, if false it will execute else block of statement.



```
#syntax of if else statement
if test expression:
  condition 1
  ....
  condition n
else:
  condition 1
  ....
  condition n
```

In [41]:
# Check if the price is less than 50
price = 100
if price<50:
  print("price is lesser")
else:
  print("price is more")

price is more

In [42]:
## From the list if 10 is part of it else print that it does not exist
l = [10, 20, 30, 'Relevel']
for i in l:
  if i==100:
    print("list has 100")
  else:
    print("list does not have 100 value")

list does not have 100 value
list does not have 100 value
list does not have 100 value
list does not have 100 value

In [43]:
## Check if 'Maharashtra' is in the Dict else print that it does not exist
cities = {'Maharashtra': 'Mumbai', 'Tamil Nadu': 'Chennai', 'Rajasthan': 'Jaipur', 'Punjab': 'Chandigarh', 'Haryana': 'Chandigarh'}
for i in cities.keys():
  if i=='Maharashtra':
    print("it exist")
  else:
    print("it doesn't exist")

it exist
it doesn't exist
it doesn't exist
it doesn't exist
it doesn't exist

## Nested if else Statement

Program will evaluate the condition followed by if statement, if given condition is true, program will execute the block of code indented below if statement, othwerwise it will move to next block of elif statements till one of the elif condition is met.



```
#syntax of nested if-else statement
if test expression:
  condition 1
  ....
  condition n
elif:
  condition 1
  ....
elif:
  condition 1
  ...
else:
  condition 1
  ...
```

In [1]:
# Find that given integer is positive, negative or Zero.
number = -2
if number>0:
  print("poisitive")
elif number<0:
  print("negative")
else:
  print("zero")

negative

In [2]:
## From the list if 100, 'relevel', 'Relevel' is part of it else print that it does not exist
l = [10, 20, 30, 'Relevel']
for i in l:
  if i=='Relevel':
    print('list has relevel value')
  else:
    print('it does not exist')

it does not exist
it does not exist
it does not exist
list has relevel value

```
if ( test condition 1):
    # If test condition 1 is TRUE, then it checks for test condition 2
    if ( test condition 2):
         # If test condition 2 is TRUE, then these true lines executed
         Test condition 2 True statements
    else:
         # If test condition 2 is FALSE, then these false lines executed
         Test condition 2 False statements
else:
    # If test condition 1 is FALSE, then these lines executed
    Test condition 1 False lines
```

In [3]:
# Example for Python Nested If

age = int(input(" Please Enter Your Age Here:  "))
if age>21:
  print("you should do a work")
elif age>60 and age<78:
  print("you want to get retirement")
else:
  print("you want too take a pension")

 Please Enter Your Age Here:  35
you should do a work

# Loops and Iterations
Loops statements help to iterate over a block of code using a condition or iterable object.

## For Loop
For loop is used to iterate over an iterable object like list, string, tuple, sets etc.



```
#syntax of for loop
for [item] in [iterable object]:
  statement 1
  ...
  statement n
```

In [7]:
## Sum all the values of the list

l = [5, 1, 7, 3]
a=0
for i in l:
  a=a+i
print("sum is",a)

# Method 1

sum is 16

In [8]:
## Sum all the values of the list using For Loop

l = [5, 1, 7, 3]
sum = 0
for i in l:
  sum=sum+i
print(sum)

16

In [9]:
#print all the letters one by one in the word Relevel
num='Relevel'
for i in num:
  print(i)

R
e
l
e
v
e
l

In [10]:
# Iterate all the values of the states from the Dict
cities = {'Maharashtra': 'Mumbai', 'Tamil Nadu': 'Chennai', 'Rajasthan': 'Jaipur', 'Punjab': 'Chandigarh', 'Haryana': 'Chandigarh'}
for i in cities.values():
  print(i)

Mumbai
Chennai
Jaipur
Chandigarh
Chandigarh

In [11]:
# Iterate all the values of the states and cities from the Dict
for i in cities.items():
  print(i)

('Maharashtra', 'Mumbai')
('Tamil Nadu', 'Chennai')
('Rajasthan', 'Jaipur')
('Punjab', 'Chandigarh')
('Haryana', 'Chandigarh')

In [14]:
# Iterate all the values of the states and cities from the Dict. Extract Key and Value seperately
for key,values in cities.items():
  print("key is",key,"value is",values)

key is Maharashtra value is Mumbai
key is Tamil Nadu value is Chennai
key is Rajasthan value is Jaipur
key is Punjab value is Chandigarh
key is Haryana value is Chandigarh

In [16]:
## Check if Nest_dict has a key "Key_1"
Dummy_Dict = {'Key1': 'Value 1', 0: 1, 'Nested_dict': {'Key_1': 'V1', 'Key2': 2}, 'List_Values': [0, 1, 2, 3, 4]}
print(Dummy_Dict['Nested_dict'].items())
print("Nest_dict has a key ",Dummy_Dict['Key1'])

dict_items([('Key_1', 'V1'), ('Key2', 2)])
Nest_dict has a key  Value 1

In [17]:
# Iterate all the values of the tuple
t = (10, 20, 30, 'Relevel')
for i in t:
  print(i)

10
20
30
Relevel

In [18]:
# Print the value from 1 to 10 using range function in for loop
for i in range(1,10):
  print(i)

1
2
3
4
5
6
7
8
9

In [19]:
## Iterate following list as a set variable
l = [1,2,2,3,3,4]
set_var = l
a=set(l)
for i in a:
  print(i)

1
2
3
4

## While Loop
While loop will execute the given block of code till the entered test condition is true



```
# syntax for while loop
While [condition true]:
      statement 1
      ...
      statement n
```

In [20]:
# print all integer from 1 to 5
for i in range(1,6):
  print(i)

1
2
3
4
5

In [22]:
a=0
while a<5:
  a=a+1
  print(a)

1
2
3
4
5

Write a program to sum natural numbers up to n. <br>
```sum = 1+2+3+...+n```

In [25]:
# Write a program to sum natural numbers up to n.
# sum = 1+2+3+...+n

n = 11

# initialize sum and counter
sum = 0
for i in range(1,n):
  sum=sum+i
print(sum)

55

In [29]:
sum=0
n=10
i=0
while i<n:
  i=i+1
  sum=sum+i
  print(sum)

1
3
6
10
15
21
28
36
45
55

## Nested loops

Multiple For loops, while loops or combination of for loop and while loops are allowed to used in Python



```
#syntax for sample nested for loops
# outer for loop
for [item] in [iterable object]: 
   # inner for loop
   for [item] in [iterable object]:
       block of code for inner for loop
   block of code for outer for loop
```

In [31]:
# print the multiplication table till 5 for each item in elements list
number = [1,2,3,4,5]
elements = [5,10]
for i in elements:
  for j in number:
    print(j*i)

5
10
15
20
25
10
20
30
40
50

In [ ]:
# print the multiplication table till 5 for each item in elements list
number = [1,2,3,4,5]
elements = [5,10]

*****multiply  5  with integer from 1 to 5
5
20
15
30
25
*****multiply  10  with integer from 1 to 5
10
40
30
60
50

# Loop control Statement
Loop control statements are used to skip over an iteration or terminate the execution of the Loop without iteration over the whole sequence.

## Continue Statement
continue keyword ends and rejects all the remaining statements for the current iteration and moves to the next iteration in the loop.

In [32]:
# Print all the letters in word Relevel except letter "l"
w='Relevel'
for i in w:
  if i=='l':
    continue
  print(i)

R
e
e
v
e

## Pass statement
Pass statement acts as a null statement and used as a placeholder for peice of code to be written in future

In [ ]:
# print all the letters in the word Relevel except letter "l" using pass statement
word = "Relevel"

Current Letter : R
Current Letter : e
Current Letter : e
Current Letter : v
Current Letter : e

## Break Statement
Break statement helps to exit the loop from the current running iteration

In [35]:
#Display numbers in given list before number 10
seq = [2,4,20, 14, 10, 29, 33,7]
for i in seq:
  if i==10:
    break
  print(i)

2
4
20
14